@import url("https://fonts.googleapis.com/css2?family=Borel&family=Comfortaa:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Comfortaa", sans-serif;
  color: #283618;
  background-color: #fefae0;
}

.app {
  width: 70%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  font-family: "Borel";
  text-align: center;
  background-color: #283618;
  color: white;
  font-size: 3.5rem;
  padding-top: 2rem;
}

.add-form {
  background-color: #dda15e;
  padding: px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.add-form h3 {
  margin-right: 2rem;
  font-size: 1.2rem;
}

.add-form div {
  margin: 1rem 0;
}

.add-form div select {
  margin-right: 1rem;
}

button,
select,
input {
  background-color: #fefae0;
  font-family: inherit;
  border: none;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

button {
  background-color: #283618;
  color: #fefae0;
  font-weight: bold;
}

.list {
  background-image: url(img/paper-bg.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  /* background-attachment: local; */
  color: #fefae0;
  padding: 2rem 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  overflow-y: scroll;
}

.list ul {
  list-style: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
}

.list li {
  color: #283618;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}

.list input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  accent-color: #283618;
  margin-right: 1rem;
}

.list li button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: red;
  margin-left: 1rem;
}

.actions {
  background-color: #606c38;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.actions button,
.actions select {
  padding: 0.8rem 2.4rem;
  font-size: 0.8rem;
  margin: 0 0.8rem;
}

.stats {
  background-color: #bc6c25;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}
